.changetitleA {
    width: 1040px;
    height: 40px;
    padding: 20px;
    position: fixed;
    top: 50px;
    text-align: center;
}

.changetitleA ul li {
    list-style-type: none;
    display: inline-block;
    height: 40px;
    padding: 10px 50px;
    font-size: 24px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
    top: 50px;
}
.changetitleA ul li a{
    color: #fff;
    text-decoration:none;
    height: 40px;
    top: 50px;
}


.changetitleA ul li:hover {
    background: #000000;
    height: 40px;
    top: 50px;
}

.changetitleA {
    width: 1040px;
    height: 40px;
    top: 50px;
}

.changetitleB {
    width: 1040px;
    padding: 20px;
    position: fixed;
    height: 40px;
    top: 50px;
    text-align: center;
}

.changetitleB ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
    font-size: 24px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
    height: 40px;
    top: 50px;
}
.changetitleB ul li a{
    color: #fff;
    text-decoration:none;
    height: 40px;
    top: 50px;
}


.changetitleB ul li:hover {
    background: #000000;
    height: 40px;
    top: 50px;
}

.changetitleB {
    width: 1040px;
    height: 40px;
    top: 50px;
}

.changetitleC {
    width: 1040px;
    padding: 20px;
    position: fixed;
    height: 40px;
    top: 50px;
    text-align: center;
}

.changetitleC ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
    font-size: 24px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
    height: 40px;
    top: 50px;
}
.changetitleC ul li a{
    color: #fff;
    text-decoration:none;
    height: 40px;
    top: 50px;
}


.changetitleC ul li:hover {
    background: #000000;
    height: 40px;
    top: 50px;
}

.changetitleC {
    width: 1040px;
    height: 40px;
    top: 50px;
}